@import "./core/reset";

.header {
  &__div {
    text-align: center;
    padding: 20px;
    &--title {
      margin-bottom: 5px;
      font-family: "Indie Flower", cursive;
      font-family: "Shantell Sans", cursive;
      font-size: 20px;
      text-decoration: 3px rgb(56, 213, 200) dotted underline;
      @media (min-width: 768px) {
        font-size: 28px;
      }
      @media (min-width: 1024px) {
        font-size: 32px;
      }
    }
    &--image {
      width: 70%;
      @media (min-width: 768px) {
        width: 90%;
      }
      @media (min-width: 1024px) {
        width: 70%;
      }
    }
  }
}

.main {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
