.aside {
  background-image: url("../../images/woodboard.jpg");
  border-radius: 8px;
  // box-shadow: 3px 4px 4px rgba(12, 12, 12, 0.9);
  padding: 20px;
  margin: 20px;
  width: 300px;
  &__header {
    margin-bottom: 10px;
    &__title {
      color: #f3f3f3;
      font-size: 20px;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
