.aside {
  background-image: url("../../images/woodboard.jpg");
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  &__header {
    margin-bottom: 10px;
    &__title {
      color: #f3f3f3;
      font-size: 20px;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      @media (min-width: 768px) {
        font-size: 24px;
      }
      @media (min-width: 1024px) {
        font-size: 28px;
      }
    }
  }
}
