.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 35px;
    // margin-top: 70px;
  }
  &__text {
    color: whitesmoke;
    margin-top: 5px;
    font-family: "Indie Flower", cursive;
    letter-spacing: 1.5px;
    @media (min-width: 768px) {
      font-size: 24px;
    }
    @media (min-width: 1024px) {
      font-size: 28px;
    }
  }
  &__logo {
    height: 70px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    &:hover {
      transform: scale(1.2);
    }
    @media (min-width: 768px) {
      height: 120px;
    }
    @media (min-width: 1024px) {
      height: 140px;
      margin-right: 50px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__container {
    display: flex;
    @media (min-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 1024px) {
      flex-direction: row;
      padding-left: 50px;
    }
  }
}
.fa-brands {
  color: rgb(56, 213, 200);
  margin: 5px 0 0 10px;
  cursor: pointer;
  &:hover {
    transform: scale(140%);
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 1024px) {
    font-size: 32px;
  }
}

.fa-heart {
  color: rgb(56, 213, 200);
}
